<div *ngFor="let dataItem of EmployeeList">
    <h2>Edit {{ dataItem.FirstName }} {{ dataItem.LastName }}</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" formControlName="firstName" minlength="2" class="form-control" id="floatingInput" placeholder="Example: Alexey" [(ngModel)]="dataItem.FirstName">
            <label for="floatingInput">First Name<span class="red">*</span></label>
            <!-- <div *ngIf="employeeForm.controls['firstName'].invalid && (employeeFrom.controls['firstName'].dirty || employeeForm.controls['firstName'].touched)"
              class="alert alert-danger">
      
            <div *ngIf="employeeForm.controls['firstName'].errors.required">
              First Name is required.
            </div>
            <div *ngIf="employeeForm.controls['firstName'].errors.minlength">
              First Name must be at least 4 characters long.
            </div> 
      </div>-->
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" formControlName="lastName" class="form-control" id="floatingInput" placeholder="Example: Kaminsky" [(ngModel)]="dataItem.LastName">
            <label for="floatingInput">Last Name<span class="red">*</span></label>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="number" formControlName="taxId" class="form-control" id="floatingInput" placeholder="Example: 1212121" [(ngModel)]="dataItem.TaxId">
            <label for="floatingInput">Tax ID<span class="red">*</span></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" formControlName="phoneNumber" class="form-control" id="floatingInput" placeholder="Example: 3809866732" [(ngModel)]="dataItem.PhoneNumber">
            <label for="floatingInput">Phone Number<span class="red">*</span></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <select class="form-select" formControlName="sex" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="dataItem.Sex">
              <option selected>Choose...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label for="floatingSelect">Sex<span class="red">*</span></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-2">
            <input type="text" formControlName="birthDate" class="form-control" id="floatingInput" placeholder="Example: Alexey" [(ngModel)]="dataItem.BirthDate">
            <label for="floatingInput">Birth Date</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-floating mb-3">
            <input type="text" formControlName="hobbies" class="form-control" id="floatingInput" placeholder="Example: Football, basketball" [(ngModel)]="dataItem.Hobbies">
            <label for="floatingInput">Hobbies</label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">Edit Employee
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
        </div>
      </form>
</div>