<h1 class="display-5">Add Employee</h1>
<form class="row g-3">
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Alexey">
      <label for="floatingInput">First Name</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Kaminsky">
      <label for="floatingInput">Last Name</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Alexey">
      <label for="floatingInput">Tax ID</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Alexey">
      <label for="floatingInput">Phone Number</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <label for="floatingSelect">Sex</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Alexey">
      <label for="floatingInput">Birth Date</label>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Example: Football, basketball">
      <label for="floatingInput">Hobbies</label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add Employee</button>
  </div>
</form>